.env
.env.*
*.pem
*.key
*.p12
*.crt
*.cer
*.der
*.pfx
*.jks
*.keystore
*-firebase-adminsdk-*.json
serviceAccount*.json
testagain-896b7-firebase-adminsdk-fbsvc-654e5cda37.json
FcmServer/testagain-896b7-firebase-adminsdk-fbsvc-654e5cda37.json
testagain-896b7-firebase-adminsdk-fbsvc-654e5cda37.json
FcmServer/testagain-896b7-firebase-adminsdk-fbsvc-654e5cda37.json
